<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Trabalho de WEB 1 - Edição</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/ufrrj.png">
</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="container">
                <div class="header-content">
                    <a href="/"><img src="/images/ufrrj.svg" alt="Logotipo da UFRRJ" class="logo"/></a>
    
                    <div class="hamburger">
                        <div class="line"></div>
                    </div>
    
                    <% if (typeof auth !== 'undefined') { %>
                        <nav class="menu">
                            <ul>
                                <li><a href="/<%= auth.id %>/editar">Editar perfil</a></li>
                                <li><a href="/logout">Sair</a></li>
                            </ul>
                        </nav>
                    <% } %>
                </div>
            </div>
        </header>

        <main class="main">
            <div class="container">
                <div class="content">
                    <form id="form" action="/<%= auth.id %>/editar" method="POST" enctype="multipart/form-data" class="form">
                        <header class="content-header">
                            <h2 class="content-header-title">Formulário de edição</h2>
                            <div class="btn-clear">
                                <button type="reset" class="btn btn-secondary btn-sm">Limpar formulário</button>
                                <button onclick="deleteUser()" type="button" form="deletar" class="btn btn-danger btn-sm btn-delete">Deletar conta</button>
                            </div>
                        </header>
                        
                        <div class="form-group">
                            <label for="name">Nome</label>
                            <input type="text" name="name" id="name" class="form-control" value="<%= auth.name %>" placeholder="Digite seu nome" required/>
                            <% if (typeof error != "undefined" && error.name) { %><small class="text-danger"><%= error.name %> </small><% } %>
                        </div>
                        
                        <div class="form-group">
                            <label for="cpf">CPF</label>
                            <input type="text" name="cpf" id="cpf" class="form-control" value="<%= auth.cpf %>" placeholder="Digite seu CPF" required/>
                            <% if (typeof error != "undefined" && error.cpf) { %><small class="text text-danger"><%= error.cpf %> </small><% } %>
                        </div>
                        
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" value="<%= auth.email %>" placeholder="Digite sem email" required/>
                            <% if (typeof error != "undefined" && error.email) { %><small class="text text-danger"><%= error.email %> </small><% } %>
                        </div>
                        
                        <div class="form-group">
                            <label for="birthdate">Data de nascimento</label>
                            <input type="date" name="birthdate" id="birthdate" class="form-control" value="<%= auth.birthdate %>" placeholder="DD/MM/AAAA"/>
                            <% if (typeof error != "undefined" && error.birthdate) { %><small class="text text-danger"><%= error.birthdate %> </small><% } %>
                        </div>
                        
                        <div class="form-group">
                            <label for="phone">Telefone</label>
                            <input type="text" name="phone" id="phone" class="form-control" value="<%= auth.phone %>" placeholder="Digite seu telefone" required/>
                            <% if (typeof error != "undefined" && error.phone) { %><small class="text text-danger"><%= error.phone %> </small><% } %>
                        </div>
                        
                        <div class="form-group">
                            <label for="password">Nova senha</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="********"/>
                            <% if (typeof error != "undefined" && error.password) { %><small class="text text-danger"><%= error.password %> </small><% } %>
                        </div>
                        
                        <div class="form-group">
                            <label for="confirm_password">Confirmar senha</label>
                            <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="********"/>
                            <% if (typeof error != "undefined" && error.password) { %><small class="text text-danger"><%= error.password %> </small><% } %>
                        </div>

                        <button onclick="updateUser()" type="button" class="btn btn-color-3 btn-block btn-lg mt-4">Alterar</button>
                        
                        <!-- Comentei porque não faz sentido o cara poder fazer login na página de edição  -->
                        <!-- <hr> -->
                        
                        <!-- <small class="d-block pt-2 text-center">Já possui cadastro? <a href="/login">Entre com uma conta</a></small> -->
                    </form>
                </div>
            </div>
        </main>
            
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-info">
                        <h5 class="footer-info-title">Trabalho de WEB1</h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam eum a nobis similique eaque, est recusandae animi, assumenda amet adipisci velit impedit, deserunt magnam! Dicta tempore aliquid iure eveniet eligendi!</p>
                    </div>
                    
                    <div class="col-md-4 footer-info">
                        <h5 class="footer-info-title">Ferramentas utilizadas</h5>
                        <ul class="footer-info-list">
                            <li>Node.js</li>
                            <li>MySQL</li>
                        </ul>
                    </div>

                    <div class="col-md-4 footer-info">
                        <h5 class="footer-info-title">Feito por</h5>
                        <ul class="footer-info-list">
                            <li>David dos Santos Machado</li>
                            <li>Pedro Raposo Felix de Sousa</li>
                            <li>Victor de Oliveira Martins Azevedo</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/script.js"></script>

    <script>
        // function deleteUser() {
        //     fetch('/<%= auth.id %>/deletar', {
        //         method: 'DELETE'
        //     });
        // }

        function updateUser() {
            let putAjax = new XMLHttpRequest();
            let formData = {}
        
            const form = document.getElementById("form");

            // console.log(form);

            for(let input of form) {
                if(input.value) {
                    formData[input.name] = input.value;
                }
            }
            
            putAjax.onload = () => {
                if(putAjax.status = 200) {
                    alert("Usuário de id = <%= auth.id %> alterado com sucesso! Você será redirecionado para a tela de principal...");
                    location.href = JSON.parse(putAjax.responseText).redirect;
                } else {
                    alert("Algo deu errado na edição do usuário!");
                }
            };

            // VALIDAR A REQUISIÇÃO ANTES DE ENVIAR

            putAjax.open("PUT", "http://localhost/<%= auth.id %>/editar");
            putAjax.setRequestHeader("Content-Type", "application/json");
            putAjax.send(JSON.stringify(formData));
        }

        function deleteUser() {
            let deleteAjax = new XMLHttpRequest();

            deleteAjax.onload = () => {
                if(deleteAjax.status = 200) {
                    alert("Usuário de id = <%= auth.id %> deletado com sucesso! Você será redirecionado para a tela de login...");
                    location.href = JSON.parse(deleteAjax.responseText).redirect;
                } else {
                    alert("Algo deu errado no delete do usuário!");
                }
            };

            deleteAjax.open("DELETE", "http://localhost/<%= auth.id %>/deletar");
            deleteAjax.send();
        }

    </script>
</body>
</html>