<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Trabalho de WEB 1</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="container">
                <div class="header-content">
                    <a href="/"><img src="/images/ufrrj.svg" alt="Logotipo da UFRRJ" class="logo"/></a>
    
                    <div class="hamburger">
                        <div class="line"></div>
                    </div>
    
                    <% if (typeof auth !== 'undefined') { %>
                        <nav class="menu">
                            <ul>
                                <li><a href="/<%= auth.id %>/editar">Editar perfil</a></li>
                                <li><a href="/logout">Sair</a></li>
                            </ul>
                        </nav>
                    <% } %>
                </div>
            </div>
        </header>

        <main class="main">
            <div class="container">
                <div class="content mb-4">
                    <form action="/buscar" method="post" class="">
                        <div class="form-row">
                            <div class="col-8 col-md-10">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Busque por nome" required/>
                            </div>
                            <div class="col-4 col-md-2">
                                <button class="btn btn-color-3 btn-block">Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>

                <% if (typeof search !== 'undefined') { %>
                    <div class="content">
                        <header class="content-header">
                            <h2 class="content-header-title">Resultados da busca</h2>
                        </header>

                        <span><strong>Total de resultados:</strong> <%= users.length %></span>
                        <div class="overflow-auto">
                            <table class="table">
                                <thead class="bg-color-3 text-light">
                                    <tr>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Email</th>
                                        <th scope="col" class="text-center">Idade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (typeof(users) != "undefined") { %>
                                        <% if (users.length > 0) { %>
                                            <% for(let user of users) { %>
                                            <tr>
                                                <th scope="row"><%= user.name %></th>
                                                <td><%= user.email %></td>
                                                <td data-date="<%= user.birthdate.getDate() %>" data-month="<%= user.birthdate.getMonth() %>" data-year="<%= user.birthdate.getFullYear() %>" class="birthdateTd text-center"></td>
                                            </tr>
                                            <% } %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="5" class="text-center">Nenhum usuário encontrado!</td>
                                            </tr>
                                        <% } %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <% } %>
            </div>
        </main>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-info">
                        <h5 class="footer-info-title">Trabalho de WEB1</h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam eum a nobis similique eaque, est recusandae animi, assumenda amet adipisci velit impedit, deserunt magnam! Dicta tempore aliquid iure eveniet eligendi!</p>
                    </div>

                    <div class="col-md-4 footer-info">
                        <h5 class="footer-info-title">Ferramentas utilizadas</h5>
                        <ul class="footer-info-list">
                            <li>Node.js</li>
                            <li>MySQL</li>
                        </ul>
                    </div>

                    <div class="col-md-4 footer-info">
                        <h5 class="footer-info-title">Feito por</h5>
                        <ul class="footer-info-list">
                            <li>David dos Santos Machado</li>
                            <li>Pedro Raposo Felix de Sousa</li>
                            <li>Victor de Oliveira Martins Azevedo</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
        
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>